.grid {
  display: grid;
  /* create exactly 2 equal columms*/
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 24px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.noResults {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 40px;
  width: 100%;
}

